.notice-info {
  max-width: 50%;
  width: fit-content;
  height: fit-content;
  z-index: 9998;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 5px 15px;
  border-radius: 5px;
  line-height: 24px;
  text-align: center;
  background-color: rgb(62, 62, 67);
  color: white;
}
.notice-none-type {
  color: white;
  max-width: 50%;
  width: fit-content;
  height: fit-content;
  z-index: 9998;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 5px 15px;
  border-radius: 5px;
  line-height: 24px;
  text-align: center;
  background-color: rgb(62, 62, 67);
}

.notice-success {
  color: white;
  max-width: 50%;
  width: fit-content;
  height: fit-content;
  z-index: 9998;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 5px 15px;
  border-radius: 5px;
  line-height: 24px;
  text-align: center;
  background-color: rgb(62, 62, 67);
}
.notice-warning {
  color: white;
  max-width: 50%;
  width: fit-content;
  height: fit-content;
  z-index: 9998;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 5px 15px;
  border-radius: 5px;
  line-height: 24px;
  text-align: center;
  background-color: rgb(62, 62, 67);
}
.notice-error {
  color: white;
  max-width: 50%;
  width: fit-content;
  height: fit-content;
  z-index: 9998;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 5px 15px;
  border-radius: 5px;
  line-height: 24px;
  text-align: center;
  background-color: rgb(62, 62, 67);
}
.notice-icon-info {
  @include color-svg('../images/notice-icon-info.svg', rgb(70, 124, 253));
  height: 20px;
  width: 20px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 8px;
}
.notice-icon-success {
  @include color-svg('../images/notice-icon-success.svg', rgb(146, 226, 187));
  height: 20px;
  width: 20px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 8px;
}
.notice-icon-warning {
  @include color-svg('../images/notice-icon-warning.svg', rgb(250, 173, 20));
  height: 20px;
  width: 20px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 8px;
}
.notice-icon-error {
  @include color-svg('../images/notice-icon-error.svg', rgb(253, 107, 109));
  height: 20px;
  width: 20px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 8px;
}

.forward-dialog {
  padding: 5px 20px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid $color-dark-60;

  button {
    padding: 0px 15px;
    border-radius: 4px;
    border: 1px solid lightgray;
    margin: 15px 5px;
    height: 32px;
    background-color: white;
    outline: none;

    &:hover {
      background-color: rgb(242, 244, 245);
    }
  }

  .border-lightgray {
    border: 1px solid lightgray;
  }

  .borderRight-lightgray {
    border-right: 1px solid lightgray;
  }
}

.settings-members-change-dialog {
  padding: 5px 20px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid $color-dark-60;

  .name-container {
    height: 32px;
    margin-bottom: 20px;

    span {
      margin-top: 8px;
      display: inline-block;
    }

    input {
      float: right;
      outline: none;
      height: 32px;
      width: calc(100% - 68px);
      border: 1px solid lightgray;
      padding-left: 5px;
      border-radius: 5px;

      &:focus {
        border: solid 1px $color-signal-blue;
      }
    }
  }

  button {
    padding: 0px 15px;
    border-radius: 4px;
    border: 1px solid lightgray;
    margin: 15px 5px;
    height: 32px;
    background-color: white;
    outline: none;

    &:hover {
      background-color: rgb(242, 244, 245);
    }
  }

  .border-lightgray {
    border: 1px solid lightgray;
  }

  .borderRight-lightgray {
    border-right: 1px solid lightgray;
  }

  .waiting-border {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.task-dialog {
  padding: 8px 20px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid $color-dark-60;

  .waiting-border {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .name {
    max-height: 140px;
    width: 425px;
    resize: none;
    border: none;
    outline: none;
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .smaller {
    max-height: 100px;
    font-size: 12px;
    color: gray;
    margin-top: 10px;
  }

  .view-in-chat {
    font-size: 13px;
    padding: 5px;
    background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .priority0 {
    @include color-svg('../images/set-priority.svg', #c63743);
    -webkit-mask-size: 78%;
    height: 16px;
    width: 16px;
    margin-right: 2px;
    vertical-align: middle;
    display: inline-block;
  }

  .priority1 {
    @include color-svg('../images/set-priority.svg', #f6c84a);
    -webkit-mask-size: 78%;
    height: 16px;
    width: 16px;
    margin-right: 2px;
    vertical-align: middle;
    display: inline-block;
  }

  .priority2 {
    @include color-svg('../images/set-priority.svg', #119f6d);
    -webkit-mask-size: 78%;
    height: 16px;
    width: 16px;
    margin-right: 2px;
    vertical-align: middle;
    display: inline-block;
  }

  .assignee-container {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    background-color: #f1f1f1;
  }

  .dialog-task__row-icon {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    vertical-align: middle;
    display: inline-block;
  }

  .assignee-icon {
    @include color-svg('../images/add-assignee.svg', $color-gray-60);
    -webkit-mask-size: 78%;
  }

  .calendar-icon {
    @include color-svg('../images/add-duetime.svg', $color-gray-60);
    -webkit-mask-size: 78%;
  }

  .priority-icon {
    @include color-svg('../images/add-priority.svg', $color-gray-60);
    -webkit-mask-size: 78%;
  }

  .history-icon {
    @include color-svg('../images/history.svg', $color-gray-60);
    -webkit-mask-size: 78%;
  }

  .bell-icon {
    width: 20px;
    height: 20px;
    margin: 5px;
    @include color-svg('../images/bell.svg', $color-gray-60);
    -webkit-mask-size: 64%;
  }

  .not-allow-pointer {
    cursor: not-allowed;
  }

  .task-date-time-input {
    display: inline-block;
    outline: none;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    padding: 4px;
    margin-right: 5px;
    height: 32px;
  }

  .dialog-task__top-header-bar {
    margin-left: -12px;
    overflow: hidden;
  }

  .more-action {
    height: 20px;
    width: 20px;
    float: right;
    cursor: pointer;

    @include color-svg('../images/ellipsis.svg', $color-light-45);

    &:hover {
      @include color-svg('../images/ellipsis.svg', $color-gray-90);
    }
  }

  .dialog-task__row-container {
    height: 32px;
    margin: 15px 0px;
    display: flex;
    align-items: center;

    // https://gist.github.com/evilmarty/3021338
    ::-webkit-calendar-picker-indicator {
      margin-right: -0.35em; // @note Harmonisation avec les icônes remplacées.
      filter: invert(48%) sepia(30%) saturate(0%) hue-rotate(203deg)
        brightness(90%) contrast(95%); // @note Harmonisation avec les icônes remplacées @see https://stackoverflow.com/a/43960991/4960244
      cursor: pointer;
    }

    .final-message {
      font-size: 12px;
      margin: auto;
      color: $color-gray-45;
    }
  }

  .dialog-task__row-history {
    height: auto;
    align-items: end;
  }

  .dialog-task__change-records {
    display: block;
    width: 400px;
    min-height: 50px;
    max-height: 200px;
    overflow: scroll;
    margin-top: 5px;

    .dialog-task__span-log {
      white-space: nowrap;
    }

    .dialog-task__span-log-time {
      color: $color-gray-45;
      font-size: 10px;
    }

    .dialog-task__span-log-content {
      margin-left: 10px;
      font-size: 13px;
    }
  }

  .dialog-task__button-show-or-refresh {
    text-align: left;
    height: 20px;
    margin-right: 9px;

    .dialog-task__button-title {
      color: $color-gray-60;
      text-decoration: underline;
      cursor: pointer;
      font-size: 13px;
    }
  }

  .dialog-task__button-operate {
    cursor: pointer;
    color: $color-signal-blue;
    border: 1px solid $color-signal-blue;
    background-color: white;
  }

  .dialog-task__button-operate-disabled {
    cursor: not-allowed;
    color: $color-signal-blue-050;
    border: 1px solid $color-signal-blue-050;
    background-color: white;
  }

  button {
    padding: 0px 15px;
    border-radius: 4px;
    // border: 1px solid lightgray;
    margin: 15px 0px;
    height: 32px;
    background-color: white;
    outline: none;
    width: 100%;

    &:hover {
      background-color: rgb(242, 244, 245);
    }
  }

  .dialog-task__button-edit-assginees {
    border: none;
    @include color-svg('../images/edit.svg', $color-light-45);

    &:hover {
      @include color-svg('../images/edit.svg', $color-gray-90);
    }
  }

  .dialog-task__button-remove-due-time {
    border: none;
    @include color-svg('../images/x-delete.svg', $color-light-45);

    &:hover {
      @include color-svg('../images/x-delete.svg', $color-gray-90);
    }
  }

  .border-lightgray {
    border: 1px solid lightgray;
  }

  .borderRight-lightgray {
    border-right: 1px solid lightgray;
  }
}

.select-contact-smaller-dialog-wrapper {
  top: 0;
  left: 0;
  position: absolute;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.select-contact-smaller-dialog {
  .select-contact-smaller-input {
    background-color: #f8f8f8;
  }
}

.poll-dialog {
  user-select: none;
  width: 360px;
  height: 100%;
  background-color: rgb(245, 246, 247);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  .waiting-border {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
  }

  h3 {
    background-color: white;
    font-weight: normal;
    text-align: center;
    margin: 0 !important;
    padding: 24px 0;
  }

  .name {
    height: 30px;
    max-height: 140px;
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    padding: 0 15px;
  }

  button {
    padding: 0 15px;
    border-radius: 4px;
    border: 1px solid lightgray;
    margin: 40px 0;
    height: 42px;
    width: calc(100% - 40px);
    background-color: #f5f6f7;
    outline: none;
    font-size: 16px;

    &:hover {
      background-color: rgb(242, 244, 245);
    }
  }

  .button-enable {
    cursor: pointer;
    color: $color-signal-blue;
    border: 1px solid $color-signal-blue;
    background-color: #f5f6f7;
  }

  .button-disable {
    cursor: not-allowed;
    color: $color-signal-blue-050;
    border: 1px solid $color-signal-blue-050;
    background-color: #f5f6f7;
  }

  .vote-reduce-icon-gray {
    cursor: not-allowed;
    @include color-svg('../images/vote-reduce.svg', #aaaaaa);
    height: 24px;
    width: 24px;
  }

  .vote-reduce-icon-red {
    cursor: pointer;
    @include color-svg('../images/vote-reduce.svg', #ed5e32);
    height: 24px;
    width: 24px;
  }

  .vote-plus-icon-gray {
    cursor: not-allowed;
    @include color-svg('../images/vote-plus.svg', #aaaaaa);
    height: 24px;
    width: 24px;
    margin-right: 5px;
    vertical-align: middle;
    display: inline-block;
  }

  .vote-plus-icon-green {
    cursor: pointer;
    @include color-svg('../images/vote-plus.svg', #4692f1);
    height: 24px;
    width: 24px;
    margin-right: 5px;
    vertical-align: middle;
    display: inline-block;
  }

  .option-item {
    background-color: white;
    padding: 12px 8px 2px 8px;
    display: flex;
    justify-content: space-between;

    .text {
      max-height: 140px;
      width: calc(100% - 28px);
      resize: none;
      border: none;
      outline: none;
      display: block;
      font-size: 14px;
      height: 34px;
      border-bottom: 1px solid #e1e1e1;
    }
  }

  .option-add {
    cursor: pointer;
    background-color: white;
    padding: 12px 8px;
    margin-bottom: 8px;
  }

  .due-time {
    background-color: white;
    padding: 0 15px;
    margin-bottom: 8px;

    span {
      display: inline-block;
      width: 60px;
    }

    select {
      cursor: pointer;
      height: 48px;
      outline: none;
      margin-left: 10px;
      border: none;
      width: calc(100% - 72px);
    }
  }

  .allow-multi_votes {
    margin-bottom: 8px;
    padding: 0 15px;
    background-color: white;
    cursor: pointer;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      height: 14px;
      width: 14px;
      pointer-events: none;
    }

    label {
      vertical-align: middle;
      margin-left: 5px;
      cursor: pointer;
    }
  }
}

.join-group {
  padding: 8px 20px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid $color-dark-60;
  text-align: center;
  width: 250px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .waiting-border {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .dialog-join-group__top-header-bar {
    margin-left: -12px;
    overflow: hidden;
  }

  .not-allow-pointer {
    cursor: not-allowed;
  }

  .dialog-join-group_group-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dialog-join-group_group-name {
    margin-top: 10px;
    word-break: break-word;
  }

  .dialog-join-group_button-container {
    justify-content: flex-end;
    display: flex;
  }

  button {
    margin: 15px 0px;
    height: 32px;
    outline: none;
    background-color: $color-white;
    color: $color-signal-blue;
    border-radius: 5px;
    vertical-align: bottom;
    border: 1px solid $color-signal-blue;
    width: 100%;
    user-select: none;

    &:hover {
      background-color: rgb(242, 244, 245);
    }
  }
}

.topic-list-dialog {
  width: 360px;
  height: 100%;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  .waiting-border {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .header-container {
    height: 58px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f6f7;

    h3 {
      font-weight: normal;
      text-align: center;
      margin: 0;
    }
  }
}

.conversation-settings-dialog {
  user-select: none;
  width: 360px;
  height: 100%;
  background-color: rgb(245, 246, 247);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  .waiting-border {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .header-container {
    height: 58px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
      font-weight: normal;
      text-align: center;
      margin: 0;
    }
  }

  .group-header-container {
    margin: 8px 0 0 0;
    padding: 0 15px;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: text;
  }

  .common-container {
    margin: 8px 0 0 0;
    padding: 0 15px;
    background-color: white;
    cursor: pointer;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    select {
      color: gray;
      cursor: pointer;
      outline: none;
      margin-left: 5px;
      border: none;
      // width: calc(100% - 144px);
      margin-right: 8px;
    }

    input {
      pointer-events: none;
      height: 14px;
      width: 14px;
      margin: 7px;
    }
  }

  .stick-container {
    margin: 8px 0 0 0;
    padding: 0 15px;
    background-color: white;
    cursor: pointer;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      pointer-events: none;
      height: 14px;
      width: 14px;
      margin: 7px;
    }
  }

  .common-groups-count {
    color: #bbbdbe;
  }

  .forward-icon {
    @include color-svg('../images/forward.svg', $color-gray-45);
    width: 25px;
    height: 25px;
  }

  .leave-container {
    text-align: center;
    margin: 30px 0;
    // position: absolute;
    // bottom: 20px;
    width: calc(100% - 4px);

    button {
      background-color: rgb(245, 246, 247);
      cursor: pointer;
      border-radius: 5px;
      outline: none;
      border: 1px solid orangered;
      color: orangered;
      padding: 8px 12px;

      &:hover {
        background-color: #fde4db;
      }
    }
  }

  .edit-group-container {
    .conversation_settings_group_avatar {
      position: relative;
      text-align: center;
    }

    margin: 8px 0 0 0;
    padding: 0 15px;

    .group_name-wrapper {
      display: flex;
      align-items: center;

      .edit-btn {
        height: 18px;
        width: 18px;
        opacity: 0.8;
        display: inline-block;
        cursor: pointer;
        right: 0;
        top: 2px;
        margin-left: 10px;

        &:focus,
        &:hover {
          outline: none;
          opacity: 1;
        }

        &:before {
          content: '';
          display: inline-block;
          height: 18px;
          width: 18px;
          @include color-svg('../images/editNew.svg', #707a8a);
        }
      }
    }

    textarea {
      max-height: 140px;
      width: 100%;
      resize: none;
      border: 1px solid rgba(0, 0, 0, 0.2);
      outline: none;
      display: block;
      border-radius: 5px;
      padding: 5px 8px;
      height: 32px;
    }

    .textarea-word-count {
      text-align: right;
      display: block;
      font-size: 12px;
      margin-top: 5px;
    }

    .group-link-text {
      font-size: 13px;
      word-break: break-word;
      user-select: text;
    }

    .group-link-buttons {
      padding: 10px 0;
      display: flex;
      justify-content: center;

      button {
        padding: 5px;
        margin: 10px;
        width: 60px;
        border-radius: 4px;
        border: 1px solid gray;
        outline: none;
      }
    }
  }

  .group-members-container {
    height: 88px;
    margin: 8px 0 0 0;
    padding: 0 15px;
    background-color: white;
    cursor: pointer;

    .members {
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .member-add-icon {
      @include color-svg('../images/group-add-member.svg', $color-gray-45);
      width: 36px;
      height: 36px;
      margin-right: 10px;
    }

    .member-reduce-icon {
      @include color-svg('../images/group-reduce-member.svg', $color-gray-45);
      width: 36px;
      height: 36px;
      margin-right: 10px;
    }
  }

  .input-background {
    background-color: white;
  }

  .member-list-container {
    height: calc(100% - 58px);
    //overflow: auto;

    ::-webkit-scrollbar-track {
      background-color: rgb(245, 246, 247);
    }

    ::-webkit-scrollbar-thumb {
      border: 2px solid rgb(245, 246, 247);
    }

    .group-members-operation-first-menu {
      position: absolute;
      background: white;
      z-index: 101;
      width: 110px;
      padding-top: 2px;
      padding-bottom: 2px;
      border-radius: 5px;
      box-shadow: 2px 2px 5px #888888;
      display: none;

      .item {
        width: 110px;
        height: 25px;
        line-height: 25px;
        cursor: pointer;
        border-radius: 3px;
        padding-left: 10px;
        padding-right: 4px;
        &:hover {
          background: #fafafa;
        }
        .common-operation {
          float: left;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          color: #1e2329;
        }
        .show-second-level-icon {
          @include color-svg('../images/arrow.svg', #616161);
          float: right;
          margin-top: 3px;
          pointer-events: none;
          width: 13px;
          height: 19px;
        }

        .group-members-operation-second-menu {
          display: none;
          position: absolute;
          background: white;
          border-radius: 5px;
          box-shadow: 2px 2px 5px #888888;
          padding: 4.5px 0;
          width: 180px;
          top: -8px;

          .rapid-item {
            width: 180px;
            height: 32px;
            line-height: 32px;
            padding-left: 16px;
            padding-right: 16px;
            display: inline-flex;
            &:hover {
              background: #fafafa;
            }
            .rapid-text {
              margin-left: 8px;
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              color: #1e2329;
            }

            .rapid-check-icon {
              @include color-svg('../images/check.svg', grey);
              height: 16px;
              width: 16px;
              margin-top: 7px;
              position: absolute;
              right: 16px;
            }
          }
          .rapid-item-none {
            margin-top: 3.5px;
            border-top: 1px solid #eaecef;
          }
        }
      }
    }
  }

  .label-container {
    padding: 0 10px;
    font-size: 12px;
  }

  .conversation-settings-item-list {
    height: calc(100% - 58px - 34px - 2 * 30px);
    overflow-y: auto;
  }
}

.poll-results-dialog {
  padding: 8px 0;
  width: 450px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid $color-dark-60;

  h3 {
    padding: 0 20px;
  }

  h4 {
    margin: 0;
    padding: 0 20px 10px 20px;
    font-size: 15px;
    word-break: break-word;
  }

  .results__top-header-bar {
    margin-left: -12px;
    padding: 0 20px;
  }

  .poll-options-container {
    max-height: 458px;
    overflow-y: auto;

    .option-title {
      color: gray;
      background-color: rgb(241, 241, 241);
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      .option-title-name {
        max-width: calc(100% - 82px);
        word-break: break-word;
      }
      .option-title-tag {
        font-size: 12px;
      }
    }

    .option-users {
      user-select: none;
    }
  }
}

.conversation-half-webview-dialog {
  user-select: none;
  width: 360px;
  height: 100%;
  background-color: rgb(245, 246, 247);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  .iframe-body {
    width: 360px;
    height: calc(100% - 58px);
    border: none;
    overflow: hidden;

    .approval-loading-box {
      width: 360px;
      height: calc(100% - 58px);
      position: absolute;
      background: rgba(255, 255, 255, 0.5);

      .approval-loading {
        height: 60px;
        width: 60px;
        text-align: center;
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }

    .half-webview {
      border: none;
      width: 100%;
      height: 100%;
    }
  }

  .header-container {
    height: 58px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
      font-weight: normal;
      text-align: center;
      margin: 0;
    }
  }
}

.join-leave-meeting-dialog {
  user-select: none;
  width: 360px;
  height: 100%;
  background-color: rgb(245, 246, 247);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  .waiting-border {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .header-container {
    height: 58px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
      font-weight: normal;
      text-align: center;
      margin: 0;
    }
  }

  .member-list {
    height: calc(100% - 58px);
    overflow: auto;
    user-select: text;

    .title {
      padding: 8px;
      color: gray;
      font-size: 13px;
    }
    .item {
      padding: 8px 8px 8px 16px;
      .time {
        color: gray;
      }
    }
  }
}

.settings-members-change-dialog-create-group {
  padding: 5px 20px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid $color-dark-60;
  -webkit-app-region: no-drag !important;

  .header {
    .title {
      display: inline-block;
      color: #1e2329;
    }
    .close {
      background: url(../images/create-group-close.svg);
      height: 24px;
      width: 24px;
      margin-top: 17px;
      cursor: pointer;
      display: inline-block;
      float: right;
    }
  }

  .name-container {
    height: 32px;
    margin-bottom: 20px;

    span {
      margin-top: 8px;
      display: inline-block;
    }

    input {
      float: right;
      outline: none;
      height: 32px;
      width: calc(100% - 68px);
      border: 1px solid lightgray;
      padding-left: 5px;
      border-radius: 5px;

      &:focus {
        border: solid 1px $color-signal-blue;
      }
    }
  }

  .scroll-background-create-group {
    ::-webkit-scrollbar-track {
      background: #eaecef;
      border-radius: 8px;
    }
    ::-webkit-scrollbar-thumb {
      border: 1px solid #b0b1b2;
      border-radius: 8px;
    }
    ::-webkit-scrollbar {
      width: 5px;
    }
  }

  .create-group-name-container {
    height: 40px;
    margin-bottom: 20px;

    .label {
      display: inline-block;
      height: 40px;
      line-height: 40px;
      margin: 0 12px 0 0;
    }
    .name-input {
      outline: none;
      height: 40px;
      width: calc(100% - 50px);
      border: none;
      background: #fafafa;
      border-radius: 8px;
      padding: 8px 8px 8px 12px;
      color: #1e2329;

      ::-webkit-input-placeholder {
        font-style: normal;
        font-weight: 590;
        font-size: 14px;
        line-height: 20px;
        color: #5e6673;
      }
    }
  }

  .select-container {
    width: 603px;
    height: 442px;
    border-radius: 4px;

    .list-container {
      width: 288px;
      height: 440px;
      border: 1px solid #eaecef;
      border-radius: 8px;
      display: inline-block;
      overflow: hidden;

      .select-all {
        padding-left: 12px;
        height: 30px;
        cursor: pointer;

        .check-all-label {
          margin: 0;
          display: inline-block;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 30px;
          user-select: none;
          pointer-events: none;
        }

        .check-all {
          padding-left: 12px;
          height: 16px;
          appearance: none;
          border: 1px solid #b7bdc6;
          border-radius: 2px;
          width: 16px;
          margin-right: 9px;
          margin-bottom: -3px;
          outline: none;
          pointer-events: none;
          user-select: none;
        }

        .check-all:checked {
          background: url(../images/setting-checkbox-squar-checked.svg);
          border: none;
        }
      }

      .search-container {
        margin: 16px;
        width: 256px;
        height: 40px;
        background: #fafafa;
        border-radius: 8px;
        display: flex;

        .condition-box {
          display: inline-block;
          height: 32px;
          background: #ffffff;
          box-shadow: 0 0 1px rgba(24, 26, 32, 0.1),
            0 3px 6px rgba(71, 77, 87, 0.04), 0 1px 2px rgba(24, 26, 32, 0.04);
          border-radius: 8px;
          padding: 6px 8px;
          margin: 4px;
          cursor: pointer;

          &:hover {
            background: #fafafa;
          }

          .condition {
            display: inline-block;
            font-style: normal;
            font-size: 14px;
            line-height: 20px;
            color: #1e2329;
            user-select: none;
            pointer-events: none;
            font-weight: 500;
          }
          .sort-icon {
            @include color-svg('../images/create-group-sort-bar.svg', #1e2329);
            height: 8px;
            width: 5px;
            display: inline-block;
            margin-left: 8px;
            user-select: none;
            pointer-events: none;
          }
        }

        .search-icon {
          @include color-svg('../images/create-group-search.svg', #b7bdc6);
          height: 40px;
          width: 16px;
          display: inline-block;
          margin-left: 6px;
          margin-right: 4px;
        }

        .search-input {
          display: inline-block;
          width: 100px;
          border: none;
          background: #fafafa;
          height: 40px;
          font-size: 14px;
          color: #1e2329;
          outline: none;
          flex-grow: 1;
          border-radius: 8px;

          ::-webkit-input-placeholder {
            color: #b7bdc6;
            font-style: normal;
            font-weight: 590;
            font-size: 14px;
            line-height: 20px;
          }
        }

        .clear-search-icon {
          background: url(../images/create-group-clear-search.svg);
          height: 16px;
          width: 16px;
          display: inline-block;
          margin-left: 12px;
          margin-right: 12px;
          cursor: pointer;
          margin-top: 12px;
        }
      }

      .condition-list {
        position: absolute;
        margin-left: 20px;
        z-index: 2;
        background: #ffffff;
        filter: drop-shadow(0px 0px 1px rgba(24, 26, 32, 0.1))
          drop-shadow(0px 7px 14px rgba(71, 77, 87, 0.08))
          drop-shadow(0px 3px 6px rgba(24, 26, 32, 0.08));
        border-radius: 8px;
        margin-top: -16px;
        padding: 4px 0;

        .condition-list-item {
          height: 32px;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: #1e2329;
          padding: 8px 16px;
          cursor: pointer;

          &:hover {
            background: #fafafa;
          }
        }
      }

      .selected-members {
        padding: 16px;
        font-style: normal;
        font-size: 14px;
        line-height: 20px;
        color: #1e2329;
        font-weight: 500;
      }

      .bu-scroll-box {
        position: absolute;
        margin-left: 20px;
        z-index: 2;
        filter: drop-shadow(0px 0px 1px rgba(24, 26, 32, 0.1))
          drop-shadow(0px 7px 14px rgba(71, 77, 87, 0.08))
          drop-shadow(0px 3px 6px rgba(24, 26, 32, 0.08));
        border-radius: 8px;
        margin-top: -16px;
        width: 251px;
        max-height: 209px;
        overflow: hidden;

        .bu-list {
          z-index: 2;
          background: #ffffff;
          border-radius: 8px;
          padding: 4px 0;
          width: 251px;
          max-height: 209px;
          overflow-y: auto;

          .bu-list-item {
            height: 32px;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 32px;
            color: #1e2329;
            padding: 0 16px;
            cursor: pointer;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;

            &:hover {
              background: #fafafa;
            }
          }
        }
      }

      .leader-scroll-box {
        position: absolute;
        margin-left: 20px;
        z-index: 2;
        filter: drop-shadow(0px 0px 1px rgba(24, 26, 32, 0.1))
          drop-shadow(0px 7px 14px rgba(71, 77, 87, 0.08))
          drop-shadow(0px 3px 6px rgba(24, 26, 32, 0.08));
        border-radius: 8px;
        margin-top: -16px;
        width: 251px;
        max-height: 209px;
        overflow: hidden;

        .leader-list {
          z-index: 2;
          background: #ffffff;
          border-radius: 8px;
          padding: 4px 0;
          width: 251px;
          max-height: 209px;
          overflow-y: auto;

          .leader-list-item {
            display: flex;
            height: 40px;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #1e2329;
            padding: 8px 16px;
            cursor: pointer;

            &:hover {
              background: #fafafa;
            }

            .avatar {
              line-height: 21px;
              user-select: none;
              pointer-events: none;
              margin-right: 9px;
            }
            .name {
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 21px;
              color: #1e2329;
              user-select: none;
              pointer-events: none;
              flex-grow: 1;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }

      .noresult-box {
        padding: 0 24px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #848e9c;
        margin-top: calc(50% - 10px);

        .item-box {
          display: flex;

          .tip-no-result {
            width: 100%;
            text-align: center;
            font-style: normal;
            font-weight: 590;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 16px;
            color: #1e2329;
          }
          .number {
            padding-right: 5px;
            width: 20px;
          }
          .tip {
            width: calc(100% - 25px);
          }
        }
      }

      .common-noresult {
        text-align: center;
        margin-top: 5px;
        height: calc(100% - 72px);
        padding: 0 16px;
        word-break: break-word;
      }

      .loading-box {
        position: absolute;
        height: 366px;
        width: 286px;

        .loading-item {
          text-align: center;
          width: fit-content;
          height: fit-content;
          position: absolute;
          margin: auto;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;

          .loading-label {
            font-size: 14px;
            color: #1e2329;
            margin-top: 10px;
          }
        }
      }
    }
  }

  .btn-white {
    margin: 15px 5px;
    background-color: white;
    outline: none;
    border: 2px solid #eaecef;
    border-radius: 8px;
    padding: 8px 16px;
    height: 40px;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;

    &:hover {
      background-color: #fbfbfb;
    }
  }

  .btn-blue {
    margin: 15px 0 15px 5px;
    outline: none;
    border-radius: 8px;
    padding: 8px 16px;
    height: 40px;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    border: none;
    color: white;
    font-weight: 500;
  }

  .btn-blue-able {
    background-color: #056ffa;
    cursor: pointer;

    &:hover {
      background-color: #1978f5;
    }
  }
  .btn-blue-disable {
    background-color: #eaecef;
    cursor: not-allowed;
    color: #b7bdc6;
  }

  .waiting-border {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
